* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #5781ffbb;
}

.project-error {
    padding: 9em 0;
}

img {
    padding-left: 11em;
}

h1 {
    font-size: 5em;
    font-weight: bold;
}

p {
    font-size: 2.3rem;
}

@media only screen and (max-width: 1200px) {
    img {
        padding-left: 0;
    }
}